<div class="container">
  <div class="row">
    <div class="col-12">
      <button type="button" onclick="location.href='/view';" class="btn btn-primary btn-lg">Continue last
        workout</button>
      <button type="button" id="new-button" class="btn btn-secondary btn-lg">Create new workout</button>
    </div>
  </div>
</div>

<script src="js/home.js"></script>